<nav>
    <ul class="nav-pages">
        <li><a href="/">Головна</a></li>
        <li><a href="/books">Каталог</a></li>
        <li><a href="/add-book">Додати книгу</a></li>
    </ul>
    <ul class="nav-btns">
        <li><a href="#" class="nav-btn">Вхід</a></li>
        <li><a href="#" class="nav-btn">Реєстрація</a></li>
    </ul>
</nav>