<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог книг</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="nav-container">
        <nav>
            <ul class="nav-pages">
                <li><a href="/">Головна</a></li>
                <li><a href="/books">Каталог</a></li>
                <li><a href="/add-book">Додати книгу</a></li>
            </ul>
            <ul class="nav-btns">
                <li><a href="#" class="nav-btn">Вхід</a></li>
                <li><a href="#" class="nav-btn">Реєстрація</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Книга</h1>
    </div>
</body>
</html>